.card-producto {
  border: 1px solid #2e2e2e;
  border-radius: 12px;
  padding: 1rem;
  width: 100%;
  max-width: 250px;
  background-color: #1f1f1f; /* Fondo oscuro */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-producto:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 8px 20px #ff0095;;
}

.card-producto img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 0.8rem;
}

.card-producto h3 {
  font-size: 1.1rem;
  color: #eaeaea; /* Texto claro */
  margin: 0.5rem 0;
  font-weight: 600;
}

.card-producto p {
  font-weight: bold;
  color: #ecebec; /* Verde acento */
  margin: 0.5rem 0;
  font-size: 1rem;
}

.card-producto button {
  margin-top: auto;
  padding: 0.6rem 1.2rem;
  background-color: #ff0095; /* Verde vibrante */
  color: #1a1a1a;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background-color 0.2s, transform 0.2s;
}

.card-producto button:hover {
  background-color: #ff0095;
  transform: translateY(-2px);
}

.card-producto a {
  text-decoration: none;
  color: inherit;
}
