html, body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100vh;
  background-color: #1f1f1f;
}

.footer {
  background-color: #1f1f1f; /* Fondo oscuro */
  padding: 15px 20px;
  font-size: 0.9rem;
  color: #ccc; /* Texto claro */
  border-top: 1px solid #333;
  margin-top: 40px;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.footer-links {
  display: flex;
  gap: 15px;
}

.footer-link {
  color: #ff0095; /* Verde acento */
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-link:hover {
  color: #ff0095; /* Verde más claro al pasar */
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: #ccc;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ff0095; /* Verde acento */
}

@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-links {
    justify-content: center;
  }

  .social-icons {
    justify-content: center;
  }
}
